.btn {
  border: 1px solid transparent;
  outline: none;

  // SIZEs
  &.small {
    padding: 0.7rem 3rem;
    font-size: 1.5rem;
  }
  &.medium {
    padding: 1rem 2rem;
    font-size: 1.9rem;
  }
  &.large {
    padding: 2rem 5rem;
    font-size: 2.4rem;
  }

  // &:focus-visible {
  //   outline: 1px solid var(--color-brand-200);
  // }

  // PSEUDOCLASSES
  &:active {
    outline: none;
  }
  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }
  &:hover {
    opacity: 0.9;
  }

  // VARIANTS
  &.primary {
    background-color: var(--color-grey-400);
    color: var(--color-grey-600);
  }
  // &.secondary {
  // }
  // &.danger {
  // }
  &.ghost {
    background-color: transparent;
    color: var(--color-brand-400);

    &:active {
      transform: scale(0.95);
    }

    & svg {
      width: 5rem;
      height: 3.5rem;
    }
  }
  &.form {
    background-color: transparent;
    border-radius: var(--border-radius-md);
    color: var(--color-grey-500);
    outline: 2px solid var(--color-grey-200);
    width: 100%;

    &:hover {
      outline: 2px solid var(--color-brand-600);
    }

    &:active {
      outline: 2px solid var(--color-brand-600);
      transform: scale(0.98);
    }
  }

  &.icon,
  &.linkicon {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-grey-500);
    transition: all 0.3s ease-out;

    // override:
    padding: 0;
    font-size: 0;
    & svg {
      height: 2.3rem;
      width: 2.3rem;
    }

    &:hover {
      color: var(--color-grey-800);
    }
    &:hover > svg {
      transform: scale(0.95);
    }

    &:active,
    &:focus {
      outline: none;
      border: none;
      transform: scale(1.1);
    }
  }
  // VARIANTS

  & .spin {
    animation: spinLoader 1s linear infinite;
  }

  &.float {
    position: absolute;
    top: 4rem;
    right: 13rem;
  }
}
@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
