@use '../abstracts/mixins' as *;

.user-admin {
  &__container {
    width: 100%;
    height: 100%;

    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  & {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
  }
  &__title {
    color: var(--color-brand-700);
    font-size: 3.5rem;
    font-family: 'Sono', monospace;
  }
  &__img {
    @extend %image-shadow;
    height: 20rem;
    width: auto;
  }

  &__email {
    color: var(--color-blue-700);
    font-size: 1.8rem;
    text-decoration: underline;
  }

  &__posts {
    color: var(--color-brand-700);
    font-size: 2rem;
  }

  & hr {
    color: var(--color-brand-700);
    height: 2px;
    width: 100%;
  }
}

.user__form {
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;

  gap: 2rem;
  outline: 2px solid var(--color-grey-300);
  margin: 1rem;
  padding: 3rem;

  &-box {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;

    font-family: 'Sono', sans-serif;
    position: relative;

    &:first-of-type {
      justify-content: center;
    }
  }

  // IMAGE

  &-img {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    outline: 2px dashed var(--color-grey-200);
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
      outline-color: var(--color-brand-500);
    }

    & > svg {
      height: 10rem;
      width: 10rem;
    }
    & > span {
      font-size: 1rem;
    }
  }

  &-label {
    color: var(--color-brand-600);
    font-weight: 400;
    font-size: 1.5rem;
  }

  &-input {
    background-color: transparent;
    border: none;
    border-radius: var(--border-radius-md);
    color: var(--color-grey-500);
    font-size: 1.5rem;
    outline: 1px solid var(--color-grey-300);
    padding: 0.5rem 1rem;
    width: 30ch;
    transition: all 0.3s ease-out;

    &:hover,
    &:focus {
      outline-color: var(--color-brand-500);
    }

    &-error {
      outline-color: var(--color-red-700);
      color: transparent;
    }
    // hide span error when focusing on input
    &:focus + .user__form-error {
      display: none;
      visibility: hidden;
    }
    &:focus {
      color: var(--color-grey-500);
    }
  }

  &-error {
    position: absolute;
    top: 0.5rem;
    left: 15rem;

    color: var(--color-red-700);
    font-size: 1.3rem;
    transition: all 0.3s ease-out;
    z-index: -1;
    // &:hover {
    //   color: var(--color-red-100);
    //   display: none;
    // }
  }
}
