@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin transition($properties...) {
  transition: map-get($properties, 0.3s);
}

// Responsive Content
@mixin respond-from($width) {
  @media screen and (max-width: #{$width}px) {
    @content;
  }
}

// ******************************
// Extends

%image-shadow {
  border-radius: var(--border-radius-md);
  display: inline-block;
  filter: drop-shadow(-10px -10px 2px var(--color-grey-200));
}
