// BlogAdmin
// Header
.header-admin {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: flex-end;

  &__menu {
    display: flex;
    gap: 0.6rem;
  }

  &__btn-icon {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-grey-500);
    transition: all 0.3s ease-out;

    & svg {
      height: 2.3rem;
      width: 2.3rem;
    }

    &:hover {
      color: var(--color-grey-800);
    }

    &:active,
    &:focus {
      outline: none;
      border: none;
      transform: scale(1.1);
    }
  }
}

// PostsTable
.blog-table {
  background-color: var(--color-grey-0);
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-md);
  font-size: 1.4rem;
  overflow: hidden;

  &__header {
    display: grid;
    align-items: center;
    column-gap: 2.4rem;
    // img, post, tags, date, draft, actions
    grid-template-columns: 0.6fr 2.2fr 1.8fr 1fr 1fr 1fr;

    background-color: var(--color-grey-50);
    border-bottom: 1px solid var(--color-grey-100);
    color: var(--color-grey-600);
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 1.6rem 2.4rem;
    text-transform: uppercase;
  }

  // Table body
  &__body-row {
    display: grid;
    column-gap: 2.4rem;
    align-items: center;
    grid-template-columns: 0.6fr 2.2fr 1.8fr 1fr 1fr 1fr;
    padding: 1.4rem 3rem;

    &:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-100);
    }

    &_img {
      aspect-ratio: 3/2;
      border-radius: var(--border-radius-sm);
      display: block;
      object-fit: cover;
      object-position: center;
      transform: scale(1.5) translateX(-7px);
      width: 4.4rem;
    }

    &_post {
      color: var(--color-grey-600);
      font-family: 'Sono';
      font-size: 1.5rem;
      font-weight: 600;
    }

    &_tags {
      font-family: 'Sono';
      font-weight: 400;
    }
    &_date {
      font-family: 'Sono';
      font-size: 1.3rem;
      font-weight: 300;
      color: var(--color-grey-400);
    }
    &_draft {
      font-family: 'Sono';
      font-weight: 500;
      text-align: center;

      &-true {
        color: var(--color-green-700);
      }

      &-false {
        color: var(--color-red-700);
      }
      & svg {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}
