@use './../abstracts/mixins' as *;

// BlogAdmin
// Header
.header-admin {
  display: flex;
  gap: 2.4rem;
  align-items: center;
  justify-content: flex-end;

  &__menu {
    display: flex;
    gap: 0.6rem;
  }

  &__btn-icon {
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--color-grey-500);
    transition: all 0.3s ease-out;

    & svg {
      height: 2.3rem;
      width: 2.3rem;
      @include respond-from(850) {
        height: 2rem;
        width: 2rem;
      }
    }
    & > .light {
      color: var(--color-brand-800);
    }
    & > .dark {
      color: var(--color-grey-900);
    }
    &:hover > .light {
      color: var(--color-brand-600);
    }
    &:hover > .dark {
      color: var(--color-grey-500);
    }

    &:active,
    &:focus {
      outline: none;
      border: none;
      transform: scale(1.1);
    }
  }
}

// PostsTable
.blog-table {
  border: 1px solid var(--color-grey-200);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-lg);
  font-size: 1.4rem;
  overflow: hidden;

  &__header,
  &__body-row {
    display: grid;
    align-items: center;
    column-gap: 2.4rem;
    // img 1, post 2, tags 3, date 4, published 5, actions 6
    grid-template-columns: 0.5fr 2.3fr 1.8fr 0.5fr 0.5fr 1.5fr;

    @include respond-from(900) {
      // img 1, post 2, tags 3, published 4, actions 5
      grid-template-columns: 0.6fr 2.2fr 1.8fr 0.5fr 1fr;
    }
    @include respond-from(800) {
      // img 1, post 2, published 3, actions 4
      grid-template-columns: 0.6fr 2.2fr 0.5fr 1fr;
    }
    @include respond-from(700) {
      //  post 1, published 2, actions 3
      grid-template-columns: 3fr 0.5fr 1fr;
    }
  }

  &__header {
    background-color: var(--color-grey-50);
    border-bottom: 2px solid var(--color-grey-200);
    color: var(--color-grey-500);
    font-weight: 600;
    letter-spacing: 0.4px;
    padding: 1.6rem 0rem;
    text-transform: uppercase;

    &-img {
      @include respond-from(700) {
        display: none;
      }
    }
    &-post {
      @include respond-from(700) {
        margin-left: 1rem;
      }
    }
    &-tags {
      @include respond-from(800) {
        display: none;
      }
    }
    &-date {
      @include respond-from(900) {
        display: none;
      }
    }
    &-published {
      font-size: 1.2rem;
    }

    // & div {
    //   outline: 1px solid red;
    // }
  }

  // Table body
  &__body-row {
    display: grid;
    // grid-template-columns: 0.6fr 2.2fr 1.8fr 1fr 0.5fr 1fr;
    column-gap: 2.4rem;
    align-items: center;

    background-color: var(--color-grey-50);
    padding: 1.6rem 0rem;
    position: relative;

    &:nth-child(even) {
      background-color: transparent;
    }
    &:hover {
      opacity: 0.9;
    }
    &:not(:last-child) {
      border-bottom: 1px solid var(--color-grey-200);
    }

    &_img {
      grid-column: 1 / 2;
      aspect-ratio: 3/2;
      border-radius: var(--border-radius-sm);
      display: inline-block;
      object-fit: cover;
      object-position: center;
      padding-left: 0.5rem;
      width: 100%;
      // outline: 1px solid red;

      @include respond-from(700) {
        display: none;
      }
    }
    &_svg {
      // No Image, so show the SVG
      height: 3rem;
      width: 3rem;
      position: absolute;
      top: 1.5rem;
      left: 2rem;

      @include respond-from(700) {
        display: none;
      }
    }

    &_post {
      grid-column: 2 / 3;
      color: var(--color-brand-600);
      font-family: 'Sono';
      font-size: 1.5rem;
      font-weight: 400;

      width: 100%;
      overflow: hidden;
      text-decoration: underline;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include respond-from(700) {
        margin-left: 1rem;
        grid-column: 1 / 2;
      }
    }

    &_tags {
      // outline: 1px solid red;
      font-family: 'Sono';
      font-weight: 400;
      @include respond-from(800) {
        display: none;
      }
    }
    &_date {
      font-family: 'Sono';
      font-size: 1.3rem;
      font-weight: 300;
      color: var(--color-grey-500);

      @include respond-from(900) {
        display: none;
      }
    }
    &_draft {
      font-family: 'Sono';
      font-weight: 500;
      text-align: center;
      width: 6.6rem;

      &-true {
        color: var(--color-green-700);
      }

      &-false {
        color: var(--color-red-700);
      }
      & svg {
        height: 2.5rem;
        width: 2.5rem;
      }
    }
  }
}

.delete {
  &__confirmation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;

    text-align: center;
    padding-inline: 3rem;
    margin: 0 auto;

    & p {
      font-size: 1.5rem;
      color: var(--color-grey-400);
    }
    & p.delete__undone {
      font-size: 1.4rem;
      color: var(--color-red-800);
    }
  }
  &__actions {
    display: flex;
    gap: 2rem;
  }
}
