@use './../abstracts/mixins' as *;

// LAYOUT
.blog {
  &__container {
    border: 1px solid red;
    background-color: var(--color-grey-100);
    min-height: 100vh;
    max-width: 120rem;
    width: 100%;

    display: grid;
    grid-template-columns: 10rem 5fr 1fr 10rem;
    grid-template-rows: 9rem 1fr 10rem;

    @include respond-from(1050) {
      grid-template-columns: 5rem 5fr 1fr 5rem;
    }
    @include respond-from(950) {
      grid-template-columns: 2rem 5fr 1fr 2rem;
    }
    @include respond-from(850) {
      grid-template-columns: 1rem 5fr 1fr 1rem;
    }
  }

  &__header {
    grid-column: 2 / 4;
    grid-row: 1 / 2;
  }
  &__main {
    // Parent Grid
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 2rem;
    width: 100%;
  }

  &__tags {
    margin-top: 2rem;
    grid-column: 3 / 4;
    grid-row: 2 / 3;
  }
  &__footer {
    grid-column: 2 / 4;
    grid-row: 3 / 4;
  }
}

// ELEMENTS
.blog {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

    &-logo > a {
      &:link,
      &:visited {
        color: var(--color-brand-600);
        font-weight: light;
        transition: all 0.3s ease-out;
      }

      &:hover,
      &:active {
        color: var(--color-brand-500);
        transform: scale(1.1);
      }
    }

    &-search {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      @include respond-from(850) {
        left: 40%;
        transform: translate(-40%, -50%);
      }

      & > input {
        background-color: transparent;
        border: none;
        border-radius: var(--border-radius-md);
        box-shadow: var(--shadow-lg);
        color: var(--color-grey-500);
        font-size: 1.5rem;
        outline: 2px solid var(--color-grey-400);
        padding: 0.7rem 3.1rem;
        transition: all 0.3s ease-out;
        width: 100%;

        @include respond-from(850) {
          font-size: 1.4rem;
          outline: 1px solid var(--color-grey-400);
        }

        &::placeholder {
          color: var(--color-grey-400);
          font-size: 1.4rem;
          @include respond-from(850) {
            font-size: 1.3rem;
          }
        }
        &:hover,
        &:focus {
          outline-color: var(--color-brand-600);
        }
        &:hover + svg,
        &:focus + svg {
          color: var(--color-brand-600);
        }
      }

      & > svg {
        color: var(--color-grey-400);
        position: absolute;
        top: 0.9rem;
        left: 0.5rem;
        height: 2.1rem;
        width: 2.1rem;
        transition: all 0.3s ease-out;
        @include respond-from(850) {
          height: 1.9rem;
          width: 1.9rem;
        }
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      gap: 2rem;
      @include respond-from(850) {
        gap: 1rem;
      }
    }
  }

  &__tags-404,
  &__main-posts-404 {
    color: var(--color-brand-600);
    font-size: 1.8rem;
    font-weight: 100;
    font-family: 'Sono', sans-serif;
    text-align: center;
    width: 100%;
  }
  // TODO: add
  &__main {
    border-right: 1px solid rgba($color: #57534e, $alpha: 0.4);

    &-title {
      color: var(--color-grey-500);
      font-size: 3rem;
      font-weight: 100;
      font-family: 'Sono', sans-serif;
      text-align: center;
      width: 100%;

      grid-row: 1 / 2;
    }
    &-posts {
      // Many psots in the Posts component - Link
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1rem;

      & > svg {
        color: var(--color-brand-500);
        height: 4rem;
        width: 4rem;
      }

      &-back {
        &:link,
        &:visited {
          color: var(--color-brand-500);
          font-size: 1.5rem;
          letter-spacing: 0.2rem;
          text-decoration: underline;
        }
      }

      &-post {
        display: flex;
        align-items: center;
        gap: 1rem;
        font-family: 'Sono', sans-serif;

        & span {
          font-size: 1.4rem;
          color: var(--color-brand-800);
          width: 7rem;
        }

        & a:link,
        & a:visited {
          color: var(--color-grey-500);
        }

        & a:link {
          font-size: 1.5rem;
          text-decoration: underline;
          transition: all 0.3s ease-out;

          display: block;
          width: 25rem;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
        & a:hover,
        & a:active {
          color: var(--color-brand-600);
        }

        &-actions {
          & svg {
            height: 2.1rem !important;
            width: 2.1rem !important;
          }
        }
      }
    }

    // One POST in the slug post
    &-post {
      grid-row: 2 / -1;
      grid-column: 1 / 2;

      &-content {
        text-align: justify;
      }
    }
  }

  // Tag under __tags
  &__tags {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4rem;
    margin-left: 2rem;

    & div {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
  &__tag {
    transition: all 0.3s ease-out;
    &,
    &:link,
    &:visited {
      border-radius: var(--border-radius-md);
      box-shadow: var(--shadow-sm);
      color: var(--color-grey-500);
      font-family: 'Cutive Mono', serif;
      font-size: 1.45rem;
      font-style: normal;
      font-weight: normal;
      outline: 1px solid transparent;
      padding: 0.3rem 0.5rem;
      transition: all 0.3s ease-out;
    }

    &:hover,
    &:active {
      outline-color: var(--color-brand-500);
    }
  }
}
