// LAYOUT
.blog {
  &__container {
    background-color: var(--color-grey-100);
    min-height: 100vh;

    display: grid;
    grid-template-columns: 10rem 3fr 10rem;
    grid-template-rows: 9rem 5rem 1fr 10rem;
  }

  &__header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
  &__main {
    // Parent Grid
    grid-column: 2 / 3;
    grid-row: 3 / 4;

    display: flex;
    flex-direction: column;
    gap: 2rem;

    margin-top: 2rem;
    width: 100%;
  }

  &__tags {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
  }
  &__footer {
    grid-column: 2 / 3;
    grid-row: 4 / -1;
  }
}

// ELEMENTS
.blog {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo > a {
      &:link,
      &:visited {
        color: var(--color-grey-500);
        transition: all 0.3s ease-out;
      }

      &:hover,
      &:active {
        color: var(--color-brand-400);
        transform: scale(1.1);
      }
    }

    &-search {
      position: relative;

      & > input {
        background-color: transparent;
        border: none;
        border-radius: var(--border-radius-md);
        box-shadow: var(--shadow-lg);
        color: var(--color-grey-500);
        font-size: 1.5rem;
        outline: 2px solid var(--color-grey-400);
        padding: 0.7rem 3.1rem;
        transition: all 0.3s ease-out;
        width: 100%;

        &::placeholder {
          color: var(--color-grey-400);
          font-size: 1.4rem;
        }
        &:hover {
          outline-color: var(--color-brand-500);
        }
        &:hover + svg {
          color: var(--color-brand-500);
        }
      }

      & > svg {
        color: var(--color-grey-400);
        height: 2.1rem;
        position: absolute;
        top: 0.9rem;
        left: 0.5rem;
        width: 2.1rem;
        transition: all 0.3s ease-out;
      }
    }

    &-menu {
      display: flex;
      align-items: center;
      gap: 2rem;
    }
  }

  &__main {
    &-title {
      color: var(--color-grey-500);
      font-size: 3rem;
      font-weight: 100;
      font-family: 'Sono', sans-serif;

      grid-row: 1 / 2;
    }
    &-posts {
      // Many psots in the Posts component - Link
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      &-post {
        display: flex;
        align-items: center;
        gap: 1rem;

        & span {
          font-size: 1.4rem;
          color: var(--color-grey-400);
        }

        & a {
          display: flex;
          align-items: center;
          gap: 1rem;
          padding: 0.3rem 2rem;

          // & .blog__main-tags {
          //   display: flex;
          //   justify-content: flex-end;
          //   gap: 0.5rem;

          //   & > p {
          //     border-radius: var(--border-radius-md);
          //     color: var(--color-brand-500);
          //     font-size: 1.05rem;
          //     outline: 1px dashed var(--color-grey-200);
          //     padding: 0.2rem;

          //     &:hover {
          //       outline-color: var(--color-brand-500);
          //     }
          //   }
          // }
        }

        & a:link,
        & a:visited {
          color: var(--color-grey-500);
          font-size: 1.5rem;
          text-decoration: underline;
          transition: all 0.3s ease-out;
        }
        & a:hover,
        & a:active {
          color: var(--color-brand-500);
        }

        &-actions {
          & svg {
            height: 2.1rem !important;
            width: 2.1rem !important;
          }
        }
      }
    }

    // One POST in the slug post
    &-post {
      grid-row: 2 / -1;
      grid-column: 1 / 2;

      &-content {
        text-align: justify;
      }
    }
  }

  // Tag under __tags
  &__tags {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  &__tag {
    transition: all 0.3s ease-out;
    &,
    &:link,
    &:visited {
      border-radius: var(--border-radius-md);
      box-shadow: var(--shadow-lg);
      color: var(--color-grey-400);
      font-family: 'Sono', sans-serif;
      font-size: 1.1rem;
      outline: 2px solid var(--color-grey-300);
      padding: 0.3rem 0.5rem;
      transition: all 0.3s ease-out;
    }

    &:hover,
    &:active {
      outline-color: var(--color-brand-500);
    }
  }
}
