.blog__post-info {
  // min-height: 30vh;
  margin-right: 1rem;
  overflow: auto;
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 0.2rem;
    font-size: 2.5rem;

    & span {
      font-size: 1.4rem;
      color: var(--color-grey-500);
    }
    // Error message - post not found
    & .blog__post-info__error {
      font-size: 2rem;
      color: var(--color-red-700);

      &-icon {
        color: var(--color-red-700);
        & > svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-grey-400);
    font-size: 1.2rem;
    margin-bottom: 2rem;
  }
  &__tags {
    display: flex;
    gap: 1rem;
    padding-left: 0.2rem;

    & span {
      border-radius: var(--border-radius-md);
      font-size: 1.2rem;
      outline: 1px solid var(--color-grey-500);
      padding: 0.2rem 0.6rem;
    }
  }

  &__banner {
    margin-bottom: 3rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    text-align: center;

    & > img {
      aspect-ratio: 16/9;
      border-radius: var(--border-radius-md);
      width: 60%;
    }

    // No image in the Post Content
    &-no {
      // TODO: add this .blog__post-info__banner-no to hide image space
      display: none;
    }
  }

  &__description {
    font-size: 1.4rem;
    color: var(--color-grey-500);
    border-bottom: 2px solid var(--color-grey-200);
    padding-bottom: 1rem;
    margin-bottom: 3rem;
  }

  &__content {
    overflow: hidden;

    & h2,
    & h3 {
      color: var(--color-grey-500);
      font-weight: 500;
      margin-left: 1rem;
      text-decoration: underline;
    }
    & h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
    & h3 {
      font-size: 1.8rem;
    }

    & p {
      color: var(--color-grey-600);
      font-size: 1.6rem;
      font-weight: 200;
    }

    & ul,
    & ol {
      color: var(--color-grey-800);
      margin-left: 4rem;
    }
    & ul {
      list-style: disc;
    }
    & ol {
      list-style: decimal;
    }

    & ul li p,
    & ol li p {
      color: var(--color-grey-600);
      font-size: 1.5rem;
    }

    & strong {
      font-weight: 700;
    }

    & hr {
      color: var(--color-grey-300);
      margin: 0.5rem;
    }

    & blockquote {
      border-radius: var(--border-radius-sm);
      margin: 3rem 0;
      padding: 0.2rem 5rem;
      position: relative;

      &:before {
        content: open-quote;
        color: var(--color-grey-400);
        display: inline-block;
        font-size: 8rem;

        position: absolute;
        top: -0.4em;
        left: 0.5rem;
      }

      & p {
        color: var(--color-grey-500);
        font-size: 1.8rem;
        font-style: italic;
      }
    }

    & pre,
    & pre[class*='language-'] {
      background-color: #1c1917;
      border-radius: var(--border-radius-md);
      display: block;
      margin: 0 auto;
      padding: 2rem;

      overflow: hidden !important; // Enables horizontal scrolling
      white-space: pre-wrap; // Allows text to wrap
      word-wrap: break-word; // Breaks long words if needed
      max-width: 100%;

      & > code {
        font-family: 'Cutive Mono', serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: 0.01rem;

        width: 100%;
        display: block; // Added to ensure proper width handling
      }
    }
  }
}

// ClassName is List of posts /blog and the blog admin table for each post
.post__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: min-content;
  z-index: 999;
}
