@use './../abstracts/mixins' as *;

.blog__post-info {
  // min-height: 30vh;
  overflow: hidden;
  padding-right: 1.5rem;

  &__heading {
    margin-bottom: 0.5rem;

    // Error message - post not found
    & .blog__post-info__error {
      font-size: 2rem;
      color: var(--color-red-700);

      &-icon {
        color: var(--color-red-700);
        & > svg {
          height: 3rem;
          width: 3rem;
        }
      }
    }
  }

  &__title {
    color: var(--color-brand-700);
    font-family: 'Sono', sans-serif;
    font-size: 3rem;
    font-weight: 100;
    text-transform: uppercase;

    @include respond-from(700) {
      font-size: 3rem;
      padding-right: 2rem;
      padding-left: 0.2rem;
    }
  }

  &__meta {
    display: flex;
    justify-content: space-between;
    align-items: center;

    color: var(--color-grey-500);
    font-size: 1.3rem;
    margin-bottom: 2rem;

    @include respond-from(700) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0.5rem;
      justify-content: flex-start;
    }

    &-read {
      color: var(--color-brand-400);
    }
  }
  &__tags {
    display: flex;
    gap: 0.8rem;
    padding-left: 0.2rem;

    & span {
      background-color: var(--color-brand-100);
      border-radius: var(--border-radius-md);
      color: var(--color-grey-900);
      font-size: 1.1rem;
      outline: 2px solid var(--color-grey-100);
      padding: 0.2rem 0.6rem;

      @include respond-from(700) {
        outline-width: 1px;
      }
    }
  }

  &__banner {
    margin-bottom: 3rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    text-align: center;

    & > img {
      aspect-ratio: 16/9;
      border-radius: var(--border-radius-md);
      width: 60%;
    }

    /* // No image in the Post Content
    &-no {
      // TODO: add this .blog__post-info__banner-no to hide image space
      display: none;
    } */
  }

  &__description {
    font-size: 1.5rem;
    font-family: 'Sono', sans-serif;
    color: var(--color-grey-600);
    border-bottom: 1px dotted var(--color-brand-100);
    padding-bottom: 1rem;
    margin: 2rem 0;
  }

  &__content {
    & h2,
    & h3 {
      color: var(--color-grey-600);
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      letter-spacing: 0.1rem;
      margin-bottom: 2rem;
      // margin-left: 3rem;
    }
    & h2 {
      color: var(--color-brand-600);
      font-size: 2rem;
    }
    & h3 {
      color: var(--color-brand-800);
      font-size: 1.8rem;
      margin-top: 3rem;
    }

    & p {
      color: var(--color-grey-800);
      font-family: 'Sono', sans-serif;
      font-size: 1.6rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    & ul,
    & ol {
      color: var(--color-blue-700);
      margin-left: 2rem;
    }
    & ul {
      list-style: disc;
    }
    & ol {
      list-style: decimal;
    }

    & ul li p,
    & ol li p {
      color: var(--color-grey-600);
      font-size: 1.5rem;
    }

    & strong {
      font-weight: 700;
    }

    & hr {
      color: var(--color-grey-300);
      margin: 0.5rem;
    }

    & blockquote {
      border-radius: var(--border-radius-sm);
      margin: 3rem 0;
      padding: 0.2rem 5rem;
      position: relative;

      &:before {
        content: open-quote;
        color: var(--color-grey-400);
        display: inline-block;
        font-size: 8rem;

        position: absolute;
        top: -0.4em;
        left: 0.5rem;

        @include respond-from(700) {
          font-size: 6rem;
          left: 1rem;
        }
      }

      & p {
        color: var(--color-grey-500);
        font-size: 1.8rem;
        font-style: italic;

        @include respond-from(700) {
          font-size: 1.6rem;
        }
      }
    }

    & pre,
    & pre[class*='language-'] {
      background-color: #1c1917;
      border-radius: var(--border-radius-md);
      margin: 0 auto;
      padding: 2rem;

      // ✅ Scrolling logic
      display: inline-block;
      overflow-x: scroll;
      white-space: pre;
      max-width: 100%;
      width: 100%;

      @include respond-from(700) {
        padding-inline: 0.5rem;
        // width: 95%;
      }
      @include respond-from(600) {
        padding-inline: 0.5rem;
      }

      & > code {
        font-family: 'Cutive Mono', serif;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.15;
        letter-spacing: 0.01rem;

        width: 95%;
        display: inline-block;

        @include respond-from(700) {
          font-size: 1.5rem;
        }
        @include respond-from(600) {
          width: 40rem;
          font-size: 1.4rem;
        }
        @include respond-from(450) {
          width: 33rem;
        }
      }
    }
  }
}

// ClassName is List of posts /blog and the blog admin table for each post
.post__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: min-content;
  z-index: 999;
}
