@use './../abstracts/mixins' as *;

.container-me {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  column-gap: 4rem;

  background-color: var(--color-grey-100);
  color: var(--color-grey-500);
  min-height: 100vh;
  padding: 5rem 15rem;
  max-width: 120rem;
  width: 100%;

  @include respond-from(900) {
    padding: 3rem 7rem;
  }
  @include respond-from(800) {
    padding: 3rem 5rem;
  }
  @include respond-from(700) {
    padding: 3rem;
  }
}

.me {
  &-header {
    margin-bottom: 5rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    &__img {
      height: 20rem;
      width: auto;
      border-radius: 50%;
      border: 1px solid var(--color-grey-400);

      @include respond-from(700) {
        height: 18rem;
      }
    }

    &__title {
      & h1 {
        background: linear-gradient(var(--color-brand-400), var(--color-brand-600));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        // color: var(--color-grey-500);
        font-family: 'Sono', sans-serif;
        font-size: 5rem;
        font-weight: 600;

        @include respond-from(700) {
          font-size: 4rem;
          font-weight: 500;
        }
      }

      & p {
        background: linear-gradient(var(--color-brand-500), var(--color-brand-600));
        background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 5rem;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;

        @include respond-from(700) {
          font-size: 4rem;
          font-weight: 600;
        }
      }
    }

    &__intro {
      color: var(--color-grey-500);
      font-size: 1.7rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      text-align: justify;

      @include respond-from(700) {
        font-size: 1.6rem;
        font-weight: 500;
      }
    }
  }

  &-social {
    // border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    width: 100%;

    &__cta {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      gap: 5rem;

      @include respond-from(700) {
        gap: 2rem;
      }

      &-link {
        &:link,
        &:visited {
          border: none;
          color: var(--color-brand-500);
          font-size: 2rem;
          font-family: 'Poppins';
          font-weight: 500;
          padding: 0.9rem 1.8rem;
          transition: all 0.3s ease-out;

          display: flex;
          align-items: center;
          gap: 1.5rem;

          @include respond-from(700) {
            font-size: 1.7rem;
            padding: 0.9rem 1.4rem;
          }
          @include respond-from(500) {
            font-size: 1.5rem;
            padding: 0.9rem 1rem;
          }
        }

        &:hover,
        &:active,
        &:active:link,
        &:focus,
        &:focus:link,
        &:focus:visited,
        &:active:visited {
          text-decoration: underline;

          transform: scale(0.99);
        }

        & svg {
          color: var(--color-brand-500);
          height: 2.4rem;
          width: 2.4rem;
          transition: all 0.1s ease-out;
        }

        &.resume--btn {
          &:link,
          &:visited {
            background-color: var(--color-brand-600);
            border: none;
            border-radius: var(--border-radius-md);
            color: var(--color-grey-200);
            // outline: 2px solid var(--color-brand-600);
            outline: none;
            transition: all 0.3s ease-out;

            & svg {
              color: var(--color-grey-200);
            }
          }

          &:hover,
          &:active,
          &:active:visited,
          &:active:link {
            background-color: var(--color-brand-500);
            color: var(--color-grey-50);
            text-decoration: none;

            & svg {
              color: var(--color-grey-50);
            }
          }
        }
      }
    }

    &__media {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 4rem;
      width: 100%;

      @include respond-from(700) {
        gap: 3rem;
      }

      &-link {
        &:link,
        &:visited {
          background-color: var(--color-grey-100);
          border-radius: 50%;
          display: flex;
          align-items: center;
          padding: 2rem;

          @include respond-from(700) {
            background-color: var(--color-brand-600);
            padding: 1.3rem;
          }
        }
        &:hover,
        &:active,
        &:hover:link,
        &:active:visited {
          background-color: var(--color-brand-600);
        }

        & svg {
          height: 5rem;
          width: 5rem;
          fill: var(--color-grey-600);
          @include respond-from(700) {
            fill: var(--color-grey-100);
          }
        }

        &:hover svg,
        &:active svg,
        &:hover:link svg,
        &:active:visited svg {
          fill: var(--color-grey-200);
        }
      }
    }
  }

  &-background {
    height: 30rem;
    padding: 1rem 2rem;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    & h1 {
      font-size: 3.5rem;
      font-family: 'Sono';
      margin-bottom: 1.5rem;
    }

    &__tabs {
      &-content {
        width: 40rem;
        width: max(50%, 40rem);
      }
      &-buttons {
        display: flex;
      }
      &-button {
        flex-grow: 1;

        background-color: transparent;
        margin-bottom: 3rem;
        padding: 0.5rem 3rem;
        text-transform: uppercase;

        &,
        &:focus {
          border: 0.3rem solid transparent;
          outline: none;
        }

        &.active {
          border-bottom: 0.3rem solid var(--color-brand-600);
          color: var(--color-brand-600);
        }
      }

      &-content {
        display: flex;
        gap: 1rem;
        justify-content: space-evenly;
        flex-wrap: wrap;

        & span {
          background-color: transparent;
          outline: 1px solid var(--color-brand-500);
          border-radius: var(--border-radius-md);
          font-size: 1.4rem;
          padding: 0.7rem 2rem;

          &:hover {
            background-color: var(--color-grey-50);
            border: 1px solid var(--color-brand-700);
          }
        }
      }
    }
  }

  &-footer {
    border-top: 1px solid var(--color-brand-500);
    width: 100%;
    font-size: 1.5rem;
    padding: 1rem 1rem 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    & span {
      display: flex;
      align-items: center;
    }

    & svg {
      width: 2.7rem;
      height: 2.7rem;
    }
    & > svg {
      color: var(--color-red-800);
    }
    & span svg {
      color: var(--color-silver-700);

      &:nth-child(even) {
        margin-left: -1rem;
      }
    }
  }
}
