body {
  color: var(--color-grey-700);
  min-height: 100vh;
  transition:
    color 0.3s,
    background-color 0.3s;
}

// Form elements
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

// Disabled states
:disabled {
  cursor: not-allowed;
}

select,
input {
  &:disabled {
    background-color: var(--color-grey-200);
    color: var(--color-grey-500);
  }
}

.row {
  display: flex;

  &-horizontal {
    justify-content: space-between;
    align-items: center;
  }

  &-vertical {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.divider {
  width: 100%;
  border: 0.5px solid var(--color-grey-100);
}

.spin {
  animation: spinLoader 1s linear infinite;
}

@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// ToolTIPS
.btn-tooltip {
  background-color: var(--color-grey-500);
  border-radius: var(--border-radius-md);
  color: var(--color-grey-100);
}

// Footer for Me and Blog pages
.footer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;

  border-top: 1px solid rgba($color: #57534e, $alpha: 0.4);
  font-size: 1.4rem;
  margin-top: 3rem;
  padding-top: 2rem;
  width: 100%;

  &__heart,
  &__tacos,
  &__copy {
    display: flex;
    align-items: center;
    gap: 0.7rem;
  }
  &__copy {
    color: var(--color-brand-600);
    gap: 0.3rem;
  }
  &__heart > svg {
    color: var(--color-red-100);
  }
  &__tacos > svg {
    color: var(--color-brand-600);
  }
  &__heart,
  &__tacos {
    & svg {
      width: 2rem;
      height: 2rem;
    }
  }
}
