body {
  color: var(--color-grey-700);
  min-height: 100vh;
  transition:
    color 0.3s,
    background-color 0.3s;
}

// Form elements
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
}

// Disabled states
:disabled {
  cursor: not-allowed;
}

select,
input {
  &:disabled {
    background-color: var(--color-grey-200);
    color: var(--color-grey-500);
  }
}

.row {
  display: flex;

  &-horizontal {
    justify-content: space-between;
    align-items: center;
  }

  &-vertical {
    flex-direction: column;
    gap: 1.6rem;
  }
}

.divider {
  width: 100%;
  border: 0.5px solid var(--color-grey-100);
}

.spin {
  animation: spinLoader 1s linear infinite;
}

@keyframes spinLoader {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// ToolTIPS
.btn-tooltip {
  background-color: var(--color-grey-500);
  border-radius: var(--border-radius-md);
  color: var(--color-grey-100);
}
